name: Terraform Lab Plan

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select an environment'
        required: true
        type: choice
        default: nonprod
        options:
          - nonprod

jobs:
  terraform:
    runs-on: ubuntu-latest
    name: Terraform Plan on ${{ github.event.inputs.environment }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3

      - name: Install Terraform
        run: |
          wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update && sudo apt install terraform

      - name: Terraform Init
        run: terraform -chdir=src init -backend-config=storage_account_name=${{ vars.STORAGE_ACCOUNT_NAME }} -backend-config=container_name=${{ vars.CONTAINER_NAME }} -backend-config=key=${{ github.event.inputs.environment }} -backend-config=resource_group_name=${{ vars.RESOURCE_GROUP_NAME }} -backend-config=subscription_id=${{ vars.ARM_SUBSCRIPTION_ID }} -backend-config=tenant_id=${{ vars.ARM_TENANT_ID }}
        env:
          ARM_CLIENT_ID: ${{ vars.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      
      - name: Terraform Plan
        run: terraform -chdir=src plan -var-file="../environments/${{ github.event.inputs.environment }}/terraform.tfvars"
        env:
          ARM_CLIENT_ID: ${{ vars.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
